.App-header {
  background-color: #282c34;
  min-height: 2.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Home-button {
  background-color: white;
  border: 1px;
  border-radius: 1rem;
  font-size: 2rem;
  width: 2rem;
  height: 2rem;
}

.User,
.Profile {
  width: 15rem;
}

.Enter {
  display: flex;
  flex-direction: row;
  justify-content: right;
  gap: 1rem;
  width: 15rem;
}

.Enter a,
.Profile a {
  color: #d7d3cb;
  text-decoration: none;
  border: 1px dotted #d7d3cb;
  padding: 0.1rem;
  margin: 0.1rem;
}

.Enter a:hover {
  background-color: #d7d3cb;
  color: #282c34;
}
