.profile-img-card-r {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

@media (prefers-reduced-motion: no-preference) {
  .profile-img-card-r {
    animation: profile-img-card-spin-r infinite 2s linear;
  }
}

@keyframes profile-img-card-spin-r {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
